{% extends 'base.html' %}

{% block title %}
    Товар {{ item.name }}
{% endblock %}

{% block content %}
    <div class="item-info">
    <h2>{{ item.name }}</h2>
    {% if item.owner %}
        <p class="item-field"><a href="{{ item.owner.get_absolute_url }}">Власник: {{ item.owner.first_name }} {{ item.owner.last_name }}</a><p>
        <p class="item-field"> Зберігається до {{ item.save_until }}</p>
        <p class="item-field">Сума, видана під заставу {{ item.amount_pledged }}</p>
        <p class="item-field">Дата здачи {{ item.date_make }}</p>
    {% endif %}
    <p class="item-field">Оціночна вартість {{ item.estimated_cost }}</p>
        {% if item.owner %}
            <input type="button" class="delete" onclick="deleteMe()" value="Повернути" />
            <a href="{{ item.get_edit_url }}"><input class="delete" type="button" value="Редагувати"></a>
            <a href="{{ item.get_consignment_url }}" target="_blank"><input class="delete" type="button" value="Накладна"></a>
        {% else %}
            <input type="button" class="delete" onclick="deleteMe()" value="Продати" />
        {% endif %}
    </div>

{% endblock %}

{% block scripts %}
<script>
function deleteMe() {
    fetch('/api/items/{{ item.id }}', {method: 'DELETE'})
    {% if item.owner %}
        alert("Предмет повернут")
    {% else %}
        alert("Предмет успішно продан")
    {% endif %}
    window.location.href = "/"
}
</script>
{% endblock %}